<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BraintreeEnvironment" value="sandbox"/>
    <add key="BraintreeMerchantId" value="MerchantId"/>
    <add key="BraintreePublicKey" value="PublicKey"/>
    <add key="BraintreePrivateKey" value="PrivateKey"/>
  </appSettings>
</configuration>