<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BraintreeASPExample</title>
</head>
<body>
    @{
        string flash = TempData["Flash"] as string;
        if (flash != null)
        {
            <div>@flash</div>
        }
    }
    @RenderBody()
</body>
</html>
