@{
    ViewBag.Title = "Index";
}

<h2>Braintree ASP.NET Sample</h2>

<p>There are 2 implementations added to this library</p>
<ul>
    <li><a href="#">Drop-In</a></li>
    <li><a href="#">Hosted Fields</a></li>
</ul>
