@{
    ViewBag.Title = "Index";
}

<h2>Braintree ASP.NET Sample</h2>

<p>There are 2 implementations added to this sample.</p>
<ul>
    <li>@Html.ActionLink("Drop In controls","New","DropIn")</li>
    <li>@Html.ActionLink("Hosted Fields","New","Hosted")</li>
</ul>
