<div class="wrapper">
    <div class="checkout container">

        <header>
            <h1>Hi, <br>Let's test a transaction with the Hosted Fields provider.</h1>
        </header>

        <form id="payment-form" method="post" action="/hosted">

            <div class="row">
                <label for="payment_amount">
                    <span class="input-label">Amount</span>
                </label>
                <div class="input-wrapper amount-wrapper">
                    <input id="payment_amount" name="payment_amount" type="tel" min="1" placeholder="10" value="">
                </div>
            </div>

            <div class="row">
                <label for="card-number">
                    <span class="input-label">Card number</span>
                </label>
                <div class="input-wrapper">
                    <input id="card-number" name="card-number" type="text" placeholder="4111 1111 1111 1111" value="">
                </div>
            </div>
            <div class="row">
                <label for="cvv">
                    <span class="input-label">Cvv</span>
                </label>
                <div class="input-wrapper">
                    <input id="cvv" name="cvv" type="text" placeholder="123" value="">
                </div>
            </div>
            <div class="row">
                <label for="expiration-date">
                    <span class="input-label">Expiration Date</span>
                </label>
                <div class="input-wrapper">
                    <input id="expiration-date" name="expiration-date" type="text" placeholder="12/2025" value="">
                </div>
            </div>

            <input type="hidden" name="payment_method_nonce" id="payment_method_nonce" />
            <button value="submit" id="submit-button" class="btn btn-success btn-lg center-block" disabled="disabled">
                Pay
            </button>
        </form>

    </div>
</div>

<script src="https://js.braintreegateway.com/web/3.82.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.82.0/js/hosted-fields.min.js"></script>

<script>
    var client_token = "@ViewBag.ClientToken";
    var form = document.querySelector('#payment-form');
    var nonce = document.querySelector('#payment_method_nonce');
    var submitButton = document.querySelector('#submit-button');

    console.log("Hosted Fields sample", braintree);
    console.log("submitButton", submitButton);

    braintree.client.create(
        { authorization: client_token },
        function (clientError, clientInstance) {
            if (clientError) {
                console.error("Client Error",clientError);
                return;
            }

            var options = {
                client: clientInstance,
                styles: {
                    'input': {
                        'font-size': '14px'
                    },
                    'input.invalid': {
                        'color': 'red'
                    },
                    'input.valid': {
                        'color': 'green'
                    }
                },
                fields: {
                    number: {
                        selector: '#card-number',
                        placeholder: "4111 1111 1111 1111"
                    },
                    cvv: {
                        selector: '#cvv',
                        placeholder: "123"
                    },
                    expirationDate: {
                        selector: '#expiration-date',
                        placeholder: "12/2025"
                    }
                }
            };

            braintree.hostedFields.create(options, function(hostedFieldsError, hostedFieldsInstance) {
                if (hostedFieldsError) {
                    console.error("Hosted Error", hostedFieldsError);
                    return;
                }
                console.log("Ready");
                
                submitButton.removeAttribute('disabled');

                form.addEventListener('submit', function (event) {

                    event.preventDefault();

                    hostedFieldsInstance.tokenize(function (tokenizeErr, payload) {
                        if (tokenizeErr) {
                            console.error("Tokenize Error", tokenizeErr);
                            console.error("Payload", payload);
                            console.error("Instance", hostedFieldsInstance);
                            return;
                        }

                        console.log("Nonce", payload.nonce);
                        nonce.value = payload.nonce;
                        form.submit();
                    });
                }, false);
            });
        });


</script>